*{
  margin: 0;
  padding: 0;
  
}

body{
  background: rgb(215, 219, 221);
}
.container{
  width: 100%;
  text-align: center;
  left: 15%;
  margin-top: 100px;
}
.container h2{
  color: darkblue;
  margin-top: 10px;
}
.container h1{
  text-decoration-line: underline;
}

p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  font-weight: bold;
  color: rgb(161, 13, 13);
  
}
span{
  color: rgb(21, 95, 24);
  font-weight: bold;
  font-size: 30px;

}
